
.jumbotron {
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;
  background-image: url('images/streetmarket.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron h1 {
  font-family: 'Avenir', cursive;
  color: white;
  text-align: center;
  margin-bottom: 1em;
}

.navbar {
	margin: 0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #777;
}
.social .fa-facebook:hover {
    color: #4060A5;
}

.social .fa-twitter:hover {
    color: #00ABE3;
}

.social .fa-instagram:hover {
    color: #cd486b;
}
